@charset "UTF-8";

/* Importação de font (google fontes) */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prociono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset (compatibilizar com todos navegadores)*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Layout */
body {
    font-family: "Arima", serif;
    font-size: 1em; /* em - 100% (Tamanho Padrão) */
}

.container{
    margin: 0 auto; /* centralizar o bloco */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    font-weight: 700;
    background-color: rgb(187, 1, 1);
    width: 100px;
    padding: 5px 5px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    align-self: center;
    margin-top: 25px;

}
/* FIM DO LAYOUT<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* smartphone portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */  
/****** Cabecalho ********/
header {
    height: 100px;
    background-color: rgb(187, 1, 1);
}

#logo img {
    width: 90px;
    height: 100px;
    margin: 10px 0px 0px 0px;
}

#check {
    display: none;
}

/* Efeito de deslizar o menu */
/* se check estiver "ticado", criar um estilo para ul */
#check:checked~ul {
    right: 0;
}

label {
    font-size: 3em;
    position: fixed;
    top: 15px;
    right: 15px;
    color: rgb(255, 255, 255); /* 0.5 = 50% transparencia (0 a 1 (100%) */
}

nav ul {
    height: 100vh;  /* 100vh = 100% altura da tela*/
    background-color:  rgb(187, 1, 1);
    list-style: none; /* Revover bullets */
    width: 55%;
    position: fixed;
    top: 100px;
    right: -55%;
    transition: all 0.5s;

}

nav ul li {
    padding: 15px 20px;
    border-bottom: 1px solid var(--preto);
    text-align: right;

}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none; /* remover o sublinhado */
    font-weight: bold;

}
/***** Banner *******/
/* Banner */
main {
    height: 60vh; /*ajuste largura do Banner*/
    background: url(img/banner2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1, h2 {
    color: var(--branco);
    text-shadow: #000 0.05em 0.05em 0.05em; /* efeito de sombra */


}
main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 1.6em;
    margin-top: 30px;
}
/* Fim do Smartphone portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


body {
    font-family: "Arima", serif;
    font-size: 1em; /* 1em = 100% (tamanho padrão) */
}

.container{
    margin: 0 auto; /* centralizar o bloco */
}

/* Smartphone Portrait */
/* Cabeçalho */
header {
    height: 100px;
  /*  background-color: rgb(167, 0, 0); */
}
#logo img {
    width:60px;
    height: 60px;
    margin: 10px 0px 0px 10px;
   
}

/* Variaveis */
:root {
    --vermelho: #da1212;
    --branco: #FFF;
    --preto: #000;
    --amarelo: #fffb00;

}

/* CSS reset (compatibilizar com todos navegadores(*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*/

/* Smartphone Landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
    /* Cabeçalho */
    #logo img {
        margin: 10px 0px 0px 0px; 
    }
   .container{
        max-width: 540px;
        background-color: rgb(187, 1, 1);
   }
}

/*FIM SMARTPHONE LANDSCAPE*/

/* Tablet Portrait */
@media (min-width: 768px) {
    /* cabeçalho */
    .container {
        max-width: 720px;
        background-color: rgb(187, 1, 1);
    }
    header {
        height: 110px;
    }
    #logo img {
        width: 100px;
        height: 100px;
    }

    nav ul {
        top: 110px;
        width: 50%;
        right: -50%;
    }

    /* banner */

    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 3.5em;
        margin-top: 30px;
    }
    
}

/*FIM/

/* Tablet Landscape */
@media (min-width: 992px) {
    /* cabeçalho */
    .container{
        max-width: 960px;
        background-color: rgb(187, 1, 1);
    }
    #logo img {
        width: 110px;
        height: 100px;
    }
   
}

/*FIM*/

/* PCs / Notebooks */
@media (min-width: 1200px) {
    .container{
        max-width: 1240px;
        background-color: rgb(187, 1, 1);
         /* cabeçalho */
    }
    header{
        height: 150px;
    }
    
    #logo img {
        width: 140px;
        height: 140px;
    }
    /*transformação do menu*/
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;;
        
    }

    nav ul li {
        float: left;
        border: 0;

    }

    nav ul li {
        color: var(--branco);
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }
   
   
}

/*FIM*/

/* Telas FullHD / 4k / SmartTV */
@media (min-width: 1400px) {
    /* cabeçalho */
    .container{
        max-width: 1360;
        background-color: rgb(187, 1, 1);
    }
    header{
        height: 200px;
    }
    #logo img {
        width: 176px;
        height: 176px;
    }
    
}
/* FIM */

